*{
    margin:0;
    padding: 0;
    text-decoration: none;
    font-family: lato;
}

#slider {
    background-image: url("./img/background/partenaire.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 85vh;
    overflow: hidden;
}

#slider h1 {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    line-height: 85vh;
    text-transform: uppercase;
    color: white;
}

@media only screen and (max-width: 450px){
    #slider h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767px) and (min-width:450px){
    #slider h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #slider h1 {
        font-size: 4rem;
    }
}

#navBar{
    height: 110px;
    background-color:white;
}

#navBar .logo{
    float: left;
    padding: 20px 0;
}

#navBar .logo img{
    height: 70px;
}

#navBar .navigation-menu {
    float: right;
    display: flex;
    align-items: center;
    min-height: 110px;
}

#navBar .navigation-menu a {
    margin-left: 12px;
    color:#20232a;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 10px;
    border-radius: 4px;
    transition: .3s linear;
    text-decoration: none;
}


#navBar .navigation-menu a:hover{
    background-color: #0171ad;
    color: #20232a;
    transform: scale(1.1);
    text-decoration: none;
}

.menu-toggle-btn{
    float: right;
    height: 110px;
    line-height: 110px !important;
    font-size: 30px;
    display: none !important;
    cursor: pointer;
    color: #0171ad;
}

@media screen and (max-width:991px){
    #navBar .menu-toggle-btn{
        display: block !important;
    }

    #navBar .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 600px;
        background-color:#20232a;
        top: 110px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
        text-align: center;
    }

    #navBar .navigation-menu::before{
        content: "";
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #20232a;
        position: absolute;
        top: -10px;
        right: 16px;
    }

    #navBar .navigation-menu a{
        display: block;
        color: white;
        margin:10px 0;
    }  

    #navBar .navigation-menu.active{
        display: block;
    }
}

@media screen and (max-width:1199px) and (min-width:992px){
    #navBar .navigation-menu a {
        margin-left: 8px;
        font-size: 15px;
        font-weight: bold;
        padding: 7px 5px;
        border-radius: 4px;
        transition: .3s linear;
    }
}

@media screen and (max-width:991px) and (min-width:768px){
    #navBar .navigation-menu::before{
        right: 39px;
    }
}

@media screen and (max-width:767px) and (min-width:576px){
    #navBar .navigation-menu::before{
        right: 44px;
    }
}







