/***************  navigationBar  ***************/
#navigationBar nav {
    background-color: var(--color-part1);
}

#navigationBar .navbar-brand {
    width: 12%;
    height: 12%;
}
#navigationBar .navbar-brand img {
    width: 90%;
    height: 90%;
    margin-bottom: 2px;
}

#navigationBar .navbar-toggler {
    background-color: var(--color-part1);
}

#navigationBar #myNavbar .nav-link {
    color: var(--color-black);
    text-align: center;
    margin-left: 15px;
    font-weight: bold;
}
#navigationBar #myNavbar li .nav-link.active {
    background-color: var(--color-special);
    border-radius: 14px;
    font-weight: bold;
    color: var(--color-part1);
}
#navigationBar #myNavbar li .nav-link:hover:not(.active) {
    border-bottom: 2px solid var(--color-special);
    border-bottom-width: thin;
    color: var(--color-special);
}

@media only screen and (max-width: 1199px) and (min-width:991px) {
    .accPre {
        margin-top: 12px;
    }
}

/***************  slider  ***************/
#slider {
    background-image: url("./../img/background/presse.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    height: 85vh;
    overflow: hidden;
}

#slider h1 {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    line-height: 85vh;
    text-transform: uppercase;
    color: var(--color-part1);
}


@media only screen and (max-width: 450px){
    #slider h1 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 767px) and (min-width:450px){
    #slider h1 {
        font-size: 3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    #slider h1 {
        font-size: 4rem;
    }
}


/**************** Presse *******************/

#presse {
    background-color: var(--color-part1);
    padding-top: 60px;
    padding-bottom: 50px;
}

#presse .title h1 {
    font-weight: bold;
}


.presseItem {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.pItem {
    background-color: var(--color-black);
    border-radius: 10px;
}

.mediaImage {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.mediaImage img {
    width: 100%;
    border-radius: 6px;
}

.details {
    background-color: #e0e0e0;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0 0 10px 10px;
}

.details .title {
    width: 90%;
    margin: 10px auto;
}
.details .title h5 {
    font-weight: bold;
}

.details .link {
    width: 90%;
    margin: 10px auto;
    color: var(--color-special);
    text-align: right;
}

.details .link a {
    font-style: italic;
    font-weight: bold;
}
.details .link a span {
    margin-left: 2px;
    font-size: 12px;
}

@media (max-width: 575px) {
    #presse {
        width: 85%;
        margin:0 auto;
    }
    .mediaImage {
        width: 60%;
    }
    .details .title h5 {
        font-size: 25px;
    }
}


/***************  Links footer  ***************/
#links {
    background-color: var(--color-black);
    padding-top: 60px;
    padding-bottom: 50px;
    color: var(--color-part1);
}

.part1Footer img {
    width: 60%;
    margin-top: 25%;
}

.part1Footer h6 {
    padding-top: 5px;
    color: var(--color-part1);
    font-weight: bold;
    margin-bottom: 10%;
}

.part2Footer .header {
    text-align: center;
}
.part2Footer .header .divider1 {
    background-color: var(--color-special);
    width: 50%;
    height: 3px;
    margin: 0 auto;
    margin-top: -1%;
}

.Alllink {
    margin-left: 5%;
    position: relative;
}

.listOfLinks {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 14px;
    width: 45%;
    display: inline-block;
}
.listOfLinks ul li {
    list-style-type: none;
    font-size: 18px;
    transition: all 0.3s ease-in 0s;
}

.listOfLinks ul li span {
    margin-right: 2%;
}

.listOfLinks ul li:hover {
    color: var(--color-special);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .part2Footer{
        margin: 0;
        padding: 0;
    }
    
    .Alllink {
        margin-left: 0%;
        padding: 0;
        margin: 0;
    }
    .l2 {
        width: 54%;
        margin-right: -15px;
    }
    .l1 {
        width: 54%;
        margin-left: -15px;
    }

    .socialMedia h6 {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1200px) {
    .Alllink {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 767px) and (min-width:450px) {
    .l1 {
        margin-bottom: 5%;
    }

    .part1Footer {
        margin-top: -20%;
    }
}

@media only screen and (max-width: 450px) {
    .listOfLinks {
        padding-top: 20px;
        margin-bottom: 25%;
        width: 100%;
        display: contents;
    }

    .Alllink {
        margin-left: 25%;
        margin-top: 28px;
        position: relative;
    }

    .part1Footer {
        margin-top: -20%;
    }
}

.l2 {
    position: absolute;
    top: 0px;
    right: 0;
}

.fa-home {
    margin-left: 0.5%;
    padding-right: 0.5%;
}
.fa-tasks {
    margin-left: 1%;
    padding-right: 0.8%;
}
.fa-calendar-alt {
    margin-left: 1.5%;
    padding-right: 1%;
}
.fa-quote-right {
    margin-left: 0.5%;
    padding-right: 1.2%;
}

.part3Footer {
    margin-top: 6%;
}

.part3Footer button {
    border-radius: 10px;
    margin-top: 0%;
}

.part3Footer button:hover {
    background-color: var(--color-part1);
    border-color: var(--color-part1);
}

.socialMedia {
    margin-top: 10%;
}

.socialMedia h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.sm {
    width: 30%;
    display: inline-block;
}

.socialMedia h6 {
    font-size: 15px;
}

.sm img {
    width: 45px;
}
