
/***************  navigationBar  ***************/
#navigationBar nav {
    background-color: var(--color-part1);
}

#navigationBar .navbar-brand {
    width: 12%;
    height: 12%;
}
#navigationBar .navbar-brand img {
    width: 90%;
    height: 90%;
    margin-bottom: 2px;
}

#navigationBar .navbar-toggler {
    background-color: var(--color-part1);
}

#navigationBar #myNavbar .nav-link {
    color: var(--color-black);
    text-align: center;
    margin-left: 15px;
    font-weight: bold;
}
#navigationBar #myNavbar li .nav-link.active {
    background-color: var(--color-special);
    border-radius: 14px;
    font-weight: bold;
    color: var(--color-part1);
}
#navigationBar #myNavbar li .nav-link:hover:not(.active) {
    border-bottom: 2px solid var(--color-special);
    border-bottom-width: thin;
    color: var(--color-special);
}

@media only screen and (max-width: 1199px) and (min-width:991px) {
    .accPre {
        margin-top: 12px;
    }
}

/***************  slider  ***************/
.slid
{
    background-image: url("./../img/projets.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-color: #464646;
    height: 100vh;
}


/**************** Nos Projets *******************/

#projets
{
	background-color: var(--color-part2);
    padding-top: 60px;
    padding-bottom: 50px;
}

#projets .title .divider2{
    width: 280px;
}

#projets .title .divider1{
    width: 50px;
}

.timeline{
	position: relative;
	width: 90%;
	margin: 50px auto;
}

.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 3px;
	height: 100%;
	background-color: var(--color-black);
}

.timeline ul {
	margin: 0;
	padding: 0;
	padding-top: 100px;
}

.timeline ul li{
	list-style: none;
	position: relative;
	width: 49%;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: justify;
	clear: both;
	margin-top: -100px;
}


.timeline ul li:nth-child(even){
	float: right;
	text-align: justify;
	clear: both;
	margin-top: -220px;
}

.timeline ul li .containerContent{
	background-color: #20232a;
	color: var(--color-part1);
	border-radius: 4px 4px;
	padding: 15px 0;
	width: 90%;
}

.timeline ul li:nth-child(odd) .containerContent{
	float: left;
}

.timeline ul li:nth-child(even) .containerContent{
	float: right;
}

.timeline ul li .header{
	padding-left: 20px;
	padding-right: 20px;
}

.timeline ul li .header .eventTitle {
    text-align: center;
    padding-bottom: 5px;
	margin-top: -3px;
}
.timeline ul li .header .eventTitle h3,.timeline ul li .header .details h6{
	font-weight: bold;
}

.timeline ul li .header .details{
	text-align: right;
	margin-top: -10px;
	color: var(--color-special);
}

.paragraph{
	padding: 5px 20px;
	font-size: 14px;
	color:  black;
	background-color: var(--color-part1);
}

.media{
	background-color: black;
	margin: 20px 20px 10px 20px;
	height: 200px;
}
.typeIcone{
	width: 15%;
	height: 15%;
}

.typeIcone img{
	width: 100%;
	border-radius: 50%;
}

.timeline ul li:nth-child(odd) .typeIcone {
    position: absolute;
    top: 0;
    right: -48.5px;
    margin: 0;
    padding: 5px 10px;
}

.timeline ul li:nth-child(even) .typeIcone{
	position: absolute;
	top: 0;
	left: -45px;
	margin: 0;
	padding: 5px 10px;
}

@media (max-width: 1199px)  and  (min-width: 992px){

	.timeline ul li:nth-child(odd) .typeIcone {

		right: -41px;
		padding: 3px 6px;
	}
	
	.timeline ul li:nth-child(even) .typeIcone{
		top: 0;
		left: -37.5px;
		padding: 3px 6px;
	}
}

@media (max-width: 991px)  and  (min-width: 768px){
	.timeline{
		width: 100%;
		padding-bottom: 0;
	}
	.timeline ul li:nth-child(odd) .typeIcone {
		top:5px;
		right: -34px;
		padding: 0 0;
	}
	
	.timeline ul li:nth-child(even) .typeIcone{
		top: 5px;
		left: -31px;
		padding: 0 0;
	}
}


@media (max-width: 767px) {

	.timeline{
		width:100%;
		padding-bottom: 0;
	}

	.timeline ul {
		margin: 0;
		padding: 0;
		padding-top: 0;
	}

	.timeline:before{
		left: 1px;
	}
	.timeline ul li:nth-child(odd){
		float: left;
		text-align: justify;
		clear: both;
		margin-top: 0px;
	}
	
	
	.timeline ul li:nth-child(even){
		float: right;
		text-align: justify;
		clear: both;
		margin-top: 0px;
	}

	.timeline li:nth-child(odd),.timeline li:nth-child(even){
		width: 100%;
		text-align: center;
		float: right;
		padding-left: 20px;
		padding-top: 5px;
	}

	.timeline ul li:nth-child(even) .typeIcone,
	.timeline ul li:nth-child(odd) .typeIcone{
		top: 10px;
		left:-36px;
		right: inherit;
	}

	.timeline ul li:nth-child(odd) .containerContent,
	.timeline ul li:nth-child(even) .containerContent
	{
		float: left;
		margin-left: 25px;
	}

}

/***************  Links footer  ***************/
#links {
    background-color: var(--color-black);
    padding-top: 60px;
    padding-bottom: 50px;
    color: var(--color-part1);
}

.part1Footer img {
    width: 60%;
    margin-top: 25%;
}

.part1Footer h6 {
    padding-top: 5px;
    color: var(--color-part1);
    font-weight: bold;
    margin-bottom: 10%;
}

.part2Footer .header {
    text-align: center;
}
.part2Footer .header .divider1 {
    background-color: var(--color-special);
    width: 50%;
    height: 3px;
    margin: 0 auto;
    margin-top: -1%;
}

.Alllink {
    margin-left: 5%;
    position: relative;
}

.listOfLinks {
    margin-top: 5%;
    margin-left: 3%;
    font-size: 14px;
    width: 45%;
    display: inline-block;
}
.listOfLinks ul li {
    list-style-type: none;
    font-size: 18px;
    transition: all 0.3s ease-in 0s;
}

.listOfLinks ul li span {
    margin-right: 2%;
}

.listOfLinks ul li:hover {
    color: var(--color-special);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .part2Footer{
        margin: 0;
        padding: 0;
    }
    
    .Alllink {
        margin-left: 0%;
        padding: 0;
        margin: 0;
    }
    .l2 {
        width: 54%;
        margin-right: -15px;
    }
    .l1 {
        width: 54%;
        margin-left: -15px;
    }

    .socialMedia h6 {
        font-size: 11px;
    }
}

@media only screen and (min-width: 1200px) {
    .Alllink {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 767px) and (min-width:450px) {
    .l1 {
        margin-bottom: 5%;
    }

    .part1Footer {
        margin-top: -20%;
    }
}

@media only screen and (max-width: 450px) {
    .listOfLinks {
        padding-top: 20px;
        margin-bottom: 25%;
        width: 100%;
        display: contents;
    }

    .Alllink {
        margin-left: 25%;
        margin-top: 28px;
        position: relative;
    }

    .part1Footer {
        margin-top: -20%;
    }
}

.l2 {
    position: absolute;
    top: 0px;
    right: 0;
}

.fa-home {
    margin-left: 0.5%;
    padding-right: 0.5%;
}
.fa-tasks {
    margin-left: 1%;
    padding-right: 0.8%;
}
.fa-calendar-alt {
    margin-left: 1.5%;
    padding-right: 1%;
}
.fa-quote-right {
    margin-left: 0.5%;
    padding-right: 1.2%;
}

.part3Footer {
    margin-top: 6%;
}

.part3Footer button {
    border-radius: 10px;
    margin-top: 0%;
}

.part3Footer button:hover {
    background-color: var(--color-part1);
    border-color: var(--color-part1);
}

.socialMedia {
    margin-top: 10%;
}

.socialMedia h6 {
    font-weight: bold;
    margin-bottom: 10px;
}

.sm {
    width: 30%;
    display: inline-block;
}

.socialMedia h6 {
    font-size: 15px;
}

.sm img {
    width: 45px;
}
